*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(58, 58, 58);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    
}

/*Login css*/
.titulo{
    color: white;
    width: 100%;
    height: 15vh;
    text-align: center;
}

.container{
    width: 100%;
    height: 70vh;
}

form{
    text-align: center;
    padding:10px;
    width: 30%;
    height: 90%;
    background-color:rgb(206, 206, 206);
    margin: auto;
    border-radius: 5px;
}
input{
    border: 0;
    text-align: center;
    width: 60%;
    height: 30px;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
}
h2{
    color: rgb(59, 59, 59);
}
.btn-login{
    font-family: 'Nunito', sans-serif;
    height: 35px; 
    color: white;
    background-color: rgb(92, 92, 92);
    border: 0;
    box-shadow: none;
    margin-top: 50%;
}

/*Monitoreo css*/
.container-body{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}

 .nav-bar{
    width: 150px;
    height: 100%;
    width: 25%;
    padding:30px 0;
    border-right: 1px solid rgb(69, 69, 69);
}
.container-body .nav-bar h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.container-body .nav-bar ul li{
    padding:15px;
    border-bottom: 1px solid rgb(69, 69, 69);
    border-top: 1px solid rgb(69, 69, 69);
    list-style: none;
    text-align: center;
}
.container-body .nav-bar ul li:hover{
    background:  rgb(84, 84, 84);
}
.container-body .nav-bar ul li a{
    color: white;
    display: block;
}
.btn-cerrar-sesion{
    padding:15px;
    margin-top:340px;
    border-bottom: 1px solid rgb(69, 69, 69);
    border-top: 1px solid rgb(69, 69, 69);
    background:rgb(58, 58, 58);
    text-align: center;
    display: block;
}
.btn-cerrar-sesion :hover{
    background:  rgb(84, 84, 84);
}
.btn-cerrar-sesion a{
    color: white;
}
.titulo h2{
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    align-items: center;
}

.container-tabla{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 70%;
}

.btn-generar-reporte{
    padding:15px;
    margin-top:20px;
    border-bottom: 1px solid rgb(69, 69, 69);
    border-top: 1px solid rgb(69, 69, 69);
    background:rgb(58, 58, 58);
    text-align: center;
    display: block;
}

.btn-generar-reporte a{
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

#map {
    width: 80%;
    height: 100%;
    border: 1px solid #ddd;
  }