/sistemaMonitoreo/nbproject/private/
/sistemaGerencia/nbproject/private/
/sistemaExcavacion/nbproject/private/
/messageEndpoint/build/
/messageEndpoint/dist/
/sistemaMonitoreo/build/
/sistemaGerencia/build/
/sistemaMonitoreo/dist/
/sistemaGerencia/dist/
/EnvioCoordenadas/nbproject/private/
/EnvioCoordenadas/build/
