body{
    background-color: rgb(58, 58, 58);
    font-family: 'Nunito', sans-serif;
}

/*Login css*/
.titulo{
    color: white;
    width: 100%;
    height: 15vh;
    text-align: center;
}

.container{
    width: 100%;
    height: 70vh;
}

form{
    text-align: center;
    padding:10px;
    width: 30%;
    height: 90%;
    background-color:rgb(206, 206, 206);
    margin: auto;
    border-radius: 5px;
}
input{
    border: 0;
    text-align: center;
    width: 60%;
    height: 30px;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
}
h2{
    color: rgb(59, 59, 59);
}
.btn-login{
    font-family: 'Nunito', sans-serif;
    height: 35px; 
    color: white;
    background-color: rgb(92, 92, 92);
    border: 0;
    box-shadow: none;
    margin-top: 50%;
}

/*Monitoreo css*/
.container-body{
   display: flex;
   width: 100%;
   height: 97vh;
}

.nav-bar{
    background-color: blue;
    width: 25%;
}
.container-content{
    background-color: red;
    width: 75%;
}
